[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=AppWrapper 0.1
Name=AppWrapper
Icon=AppWrapper.app.tiff
Exec=openapp AppWrapper.app
#TryExec=AppWrapper.app
